<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        Cinema Centre
         <nav>
          <a href="#">item</a>
        </nav>
    </header>
    <div class="content">
       

        <article>@RenderBody()</article>
   
    </div>
</body>
</html>


