<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        Cinema Centre
    </header>

    <nav>
          <a href="#">item</a>  
          <a href="#">item2</a>    
          <a href="#">item3</a>
    
        </nav>

    <div class="content">
       

        <article>@RenderBody()</article>
   
    </div>
</body>
</html>


