<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        Cinema Centre
    </header>

    

    <div class="content">
       
        <article>@RenderBody()</article>
   
    </div>

    <footer>

      <div class="nav">
        <center>
              <a href="/Home">Home</a>
              <a href="/contact">Contact</a>  
              <a href="/Tijden">Tijden</a>    
              <a href="/Movie">Movie</a>
         </center>
     </div>

    </footer>

</body>
</html>


