<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        Cinema Centre
    </header>

    <nav>
          <a href="/contact">Contact</a>  
          <a href="/Tijden">Tijden</a>    
          <a href="/Movie">Movie</a>
          <a href="/Home">Home</a>
    
        </nav>

    <div class="content">
       

        <article>@RenderBody()</article>
   
    </div>
</body>
</html>


