body {
    margin: 0;
   
}

header {
    background-color: #b8e2e0;
    height: 200px;
    font-size: 40px;
    text-align: center;
}


nav {
    background-color: #b8e2e0;
    text-align: center;
    
}

a {
    color: black;
    text-align: center;
    background-color: white;
    text-decoration-thickness: 4px;
    font-size: 16px;
}

.carousel {
    display: flex;
}

.film img {
    width: 200px;
}

.film {
    flex: 1;
}

article {
   background-color: #547bbb;
   width: 100vw;
}

.content {
    display: flex;
    text-align: center;
    line-height: 1.7;
    text-shadow: 0.25px 0.25px #000000;
    font-style: italic;
}

label {
    margin: 30px;
}

form{
    padding: 50px;
}


