body{
    margin:0;
}



header {
    background-color: #b8e2e0;
    height: 200px;
}

div{
    height: 500px;
}

nav {
    background-color: #ae84ab;
    width: 30vw;
}

article {
    background-color: #547bbb;
    width: 60vw;
}

aside {
    background-color: #ae84ab;
    width:10vw;
}

.content{
    display:flex
}






body{
    margin:0;
}