@using CinemaCentre.Database
@model List<Movie>

@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["id"]</h1> 

<div class="carousel">
    @foreach(Movie movie in Model)
    {
        <div class="film">
            <h2>@movie.Titel</h2>
            <img src="@movie.Afbeelding"/>
        </div>       
        

    }  
</div>

<p>Welkom bij onze website Cinema Centre! 
Elke maand komen er nieuwe films bij voor U om te zien.
CinemaCentre draait films in 2D, 3D en Imax 
Om u de beste film ervaring te geven, bevinden er zich geen pauze's tijdens de film.
Veel kijkplezier!</p>